body {
    font-family: Inter, sans-serif;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 50px auto;
}

header img {
    width: 50px;
    padding: 20px;
}

header h1 {
    display: flex;
    justify-content: space-around;
    color: #454553;
}

main {
    background-color: #024BCE;
    border-radius: 40px;
    padding: 30px;
    text-align: center;
    color: white;
}

.calculator {
    display: flex;
    justify-self: center;
    background-color: #F4F8FC;
    border: 2px solid gray;
    border-radius: 20px;
    width: 80%;
    text-align: left;
    color: black;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.calculator h3 {
    color: #0044BE;
    padding: 10px;
}

form {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin: 10px;
}

form label {
    text-align: right;
}

button {
    grid-area: 3/2/4/3;
    display: flex;
    justify-self: center;
    margin: 15px 0;
}

.calculator h4 {
    grid-area: 4/2/5/3;
}

#prediction {
    grid-area: 4/2/5/3;
    text-align: center;
}

footer h5 {
    font-size: 1.2em;
}